    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                   <div class="about-fixed">
                     <div class="picture">
                        <img src="{{asset('assets/images/dog.jpg')}}" alt="">
                        <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
                         <div id="menu" class="collapse">
                           <ul class="menu-link">
                               <li><a  href="{{path('post_browse')}}">Home</a></li>
                               <li><a href="{{path('post_browse')}}">About</a></li>
                               <li><a href="{{path('post_browse')}}">Contact</a></li>
                            </ul>
                         </div>
                        </div>
                      
                      
                      
                      <div class="title">
                    	
                        <div class="white-spacing">
                            <h1>The dog's blog</h1>
                            <span>For Dog Only</span>
                        </div>
                       
                        <nav class="navbar navbar-expand-lg navbar-dark" >
           
{#                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                          </button> #}
                    
                          <div id="navigation" class="collapse navbar-collapse flex-column" >
                            <ul class="navbar-nav flex-column text-left">
                              <li class="nav-item active">
                                  <a class="nav-link" href="{{path('post_browse')}}">Home<span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{{path('post_browse')}}">About</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{{path('post_browse')}}">Contact</a>
                              </li>
                            </ul>
                        </nav>

                       <ul class="social-icon">
                         <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                         <li><a href="#" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
                       </ul>

                    </div>
                  </div>
                </div>